*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  
#container{
    margin-top: 150px;
    height:250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap:5px;
    
}

.bar{
    background-color: black;
    width:10px;
}